@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);

* {
	margin: 0;
	padding: 0;
}

body {
    font-family: 'HelveticaNeue', 'Arimo', sans-serif;
    font-size: 100%;
    font-weight: normal;
    border: solid 5px #52f058;
    background: url(../image/layout/background.png) repeat 0 0;
}

h1 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

.page, .collumn-content, .preview-content, .background-main-content, .widget-content {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
}

.page {
    height: 70px;
}

.logo {
    float: left;
    margin: 25px 0 0 3px;
    transition: 500ms;
}

.logo:hover {
    opacity: 0.5;
    transition: 500ms; 
}

.search {
    float: right;
    margin-top: 30px;
    color: white;
}

input[type="search"] {
    border: none;
    outline: none;
    height: 25px;
    -webkit-appearance: none;
    vertical-align: middle;
    background: #2f2f2f;
    border-radius: 15px;
    padding: 0 10px 0 25px;
    color: white;
}

input[type="submit"] {
    width: 25px;
    height: 25px;
    border-radius: 15px 0 0 15px;
    position: absolute;
    border: none;
    background: #2f2f2f url(../image/layout/search.png) no-repeat 8px 7px;
}

.main-navigation {
    font-size: 0.75em;
    float: right;
    margin-top: 35px;
    text-align: left;
}

.main-navigation li {
    display: inline-block;
    border-right: solid 1px #272f34;
    -webkit-box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.05);
    box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.05);
}

.main-navigation a {
    color: #e8e8e8;
    padding: 11px 14px;
    border-radius: 5px;
}

.main-navigation li a:hover, .main-navigation a.active {
    background-color: #2f2f2f;
    -webkit-box-shadow:inset 0px -0.1px 0px 0px rgba(255, 255, 255, 0.2);
    box-shadow:inset 0px -0.1px 0px 0px rgba(255, 255, 255, 0.2);
}

.portfolio {
    width: 970px;
    margin: 0 auto;
}

.about-slider {
    position: absolute;
    top: 0;
    margin-left: 2px;
    width: 365px;
    color: white;
}

.about-slider h3 {
    margin-top: 15px;
    font-weight: 100;
}

.button {
    margin-top: 15px;
    width: 142px;
    height: 35px;
    padding: 0 5px;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    border-radius: 5px;
    background-color: #959595;
    color: white;
    border: none;
}

.background-main-content {
    width: auto;
    background: white url(../image/layout/background65.png) repeat-x 0 0;          
    padding-bottom: 50px;
}

.collumn-content {
    text-align: left;
}

.collumn-content li {
    width: 226px;
    display: inline-block;
    list-style: none; 
    text-align: left;
    margin: 21px 14px 0 0;
}

.collumn-content li:nth-child(4n) {
    margin-right: 0;
    clear: both;
}

.collumn-limit {
    display: inline-block;
    background:  url(../image/layout/collumn.png) no-repeat;
    line-height: 1.5em;
    text-align: left;
}

.collumn-content h2 {
    font-size: 0.9375em;
    padding: 20px 10.17699115044248% 0;
}

.collumn-limit h3 {
    font-size: 0.75em;
    font-weight: 500;
    color: #8e8e8e;
    padding: 15px 10.17699115044248% 0;
}

.collumn-content p {
    font-size: 0.75em;
    font-weight: 500;
    padding: 15px 10.17699115044248% 20px;
    background: url(../image/layout/dash.png) no-repeat 24px bottom;
}

.collumn-limit a {
    display: inline-block;
    font-size: 0.75em;
    font-weight: 600;
    margin: 10px 10.17699115044248% 0;
    color: black;
}

.preview-content {
    margin-top: 80px;
}

.preview-content h2 {
    font-size: 0.9375em;
    margin: 15px 2.5% 20px;
    padding-bottom: 13px;
    background: url(../image/layout/dash.png) repeat-x 0 bottom;
    text-align: left;
}
.preview-about {
    float: left;
    width: 18.33333333333333%;
    font-size: 0.75em;
    font-weight: 500;
    line-height: 1.5em;
    text-align: left;
    vertical-align: top;
    margin-left: 24px
}

.preview-about h3 {
    font-size: 1em;
    font-weight: 500;
    color: #acacac;
}

.preview-about p {
    padding: 15px 0 0;
    background: none;
}

.preview-image { 
    width: 71.875%;
    padding: 0;
    margin-left: 40px;
    display: inline-block;
    text-align: left;
}

.preview-image li { 
    width: 220px;
    height: 200px;
    margin: 0 5px 10px 0;
    list-style: none;
    display: inline-block;
    position: relative;
}
.preview {
    width: 100%;
    height: 100%;
}

.hover {
    display: inline-block;
    width: 220px;
    height: 200px;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background: black;
    opacity: 0.8;
}

.hover div {
    display: inline-block;
    margin: 160px 10px;
}

.hover img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -36px;    
}

.preview:hover + .hover {
    width: 220px;
    height: 200px;
    visibility: visible;   
    transition: opacity 0.3s;
}

.background-widget-content {
        background: url(../image/layout/background-line.png) repeat-x 0 0;
}

.widget-content {
    margin: auto;
    text-align: justify;
    padding-bottom: 30px;    
}

.widget-content li {
    display: inline-block;
    width: 22.91666666666667%;
    list-style: none; 
    margin-top: 50px;
    margin-right: 15px;
    vertical-align: top;
}

.widget-content li:nth-child(4n) {
    margin-right: 0;
}

.collumn-widget {
    text-align: left;
    padding: 8px;
    color: #fff;
}

.collumn-widget h2 {
    font-size: 1.5em;
    background: url(../image/layout/widget-line.png) no-repeat 0 bottom;
    padding-bottom: 20px;
}

.collumn-widget h3 {
    font-size: 0.75em;
    margin-top: 25px;
}

.collumn-widget p {
    font-size: 0.75em;
    margin-top: 10px;
}

.collumn-widget a {
    color: #999999;  
}
.preview-widget {
    width: 210px;
    display: inline-block;
    margin-top: 15px;
}

.preview-widget li {
    width: 46px;
    height: 46px;
    margin: 2px 1px;
}

.preview-widget img {
    width: 42px;
    height: 42px;
    border: solid 2px #fff;
}

footer {
    margin: 0 auto;
    height: 72px;
}

.background-footer {
    width: auto;
    background: url(../image/layout/background-footer.png) repeat 0 0;
}

.logo-footer {
    float: left;
    margin: 25px 0 0 5px;
    transition: 500ms;
}

.logo-footer:hover {
    opacity: 0.5;
    transition: 500ms; 
}

.about-contact, .about-powered {
    font-size: 0.9375em;
}

.about-contact {
    float: left;
    width: 40%;
    color: #818181;
    vertical-align: top;
    margin: 25px 0 0 25px; 
    text-align: left
}

.about-powered {
    float: right;
    width: 30%;
    margin: 25px 0 10px; 
}

.about-powered p {
    color: #818181;
}

.about-powered a {
    color: #b2b2b2
}

@media (max-width: 1000px) {
    body {
    width: auto;
    border: solid 5px #f52d2d;
    } 
    
    .page, .collumn-content, .preview-content, .widget-content {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
    }
    
    .logo {
    display: inline-block;
    margin: 25px 0 0 15px;
    }
    
    .main-navigation {
    float: right;
    margin: 35px 10px 0 0;
    display: inline-block;
    transition: 1.0s;
    }
    
   .search {
    float: right;
    margin-top: 30px;
    color: white;
    }
    
    .portfolio {
    width: 100%;
    margin: 0 auto;
    }
    
    .preview-content {
    width: auto;
    margin: 80px 2.5%;
    text-align: center; 
    }
    
    .preview-content h2 {
    font-size: 0.9375em;
    margin: 15px 0 20px;
    padding-bottom: 13px;
    background: url(../image/layout/dash.png) repeat-x 0 bottom;
    text-align: left;
    }
    
    .preview-about {
    display: inline-block;
    width: 70%;
    font-size: 1em;
    font-weight: 500;
    margin: 15px 0px;
    line-height: 1.5em;
    text-align: left;
    vertical-align: top;
    }
    
    .preview-image {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    }
    
    .preview-widget {
    width: 114%;
    display: inline-block;
    margin-top: 15px;
    }

    footer {
    margin: 0 auto;
    width: 85%;
    height: 140px;
    }
    
    .about-contact {
    float: left;
    width: 40%;
    color: #818181;
    vertical-align: top;
    margin: 25px 0 0 25px; 
    text-align: left
    }

    .about-powered {
    float: right;
    width: 40%;
    }
    
@media (max-width: 880px) {
    body {
    width: auto;
    border: solid 5px #2df5d6;
    } 
    
    .page, .collumn-content, .preview-content, .widget-content {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
    }
    
    .logo {
    display: inline-block;
    margin: 25px 0 0 15px;
    }
    
    .main-navigation {
    display: inline;
    margin: 10px auto 20px;
    transition: 1.0s;
    width: 100%;
    text-align: center;
    }
    
   .search {
    float: right;
    margin-top: 30px;
    color: white;
    }
    
    .portfolio {
    width: 95%;
    margin: 0 auto;
    }
     
    .preview-content {
    width: auto;
    margin: 80px 2.5%;
    text-align: center; 
    }
    
    .preview-content h2 {
    font-size: 0.9375em;
    margin: 15px 0 20px;
    padding-bottom: 13px;
    background: url(../image/layout/dash.png) repeat-x 0 bottom;
    text-align: left;
    }
    
    .preview-about {
    display: inline-block;
    width: 90%;
    font-size: 1em;
    font-weight: 500;
    margin: 15px 0px;
    line-height: 1.5em;
    text-align: left;
    vertical-align: top;
    }
    
    .preview-image {
    width: 95%;
    margin: 0 auto;
    display: inline-block;
        text-align: left
    }
    
    .widget-content li {
    display: inline-block;
    width: 40%;
    list-style: none; 
    vertical-align: top;
    }
    
    .preview-widget {
    width: 210px;
    padding: 0;
    display: block;
    margin-top: 15px;
    }
    
    .preview-widget li {
    width: 46px;
    height: 46px;
    margin: 2px 1px;
    }

    footer {
    margin: 0 auto;
    width: 85%;
    height: 140px;
    }
    
    .logo-footer {
    display: block;
    margin: 25px 0 0 5px;
    transition: 500ms;
    }

    .logo-footer:hover {
    opacity: 0.5;
    transition: 500ms; 
    }
    
    .about-contact {
    display: block;
    width: 40%;
    color: #818181;
    vertical-align: top;
    margin: 25px 0 0 15px; 
    text-align: left
    }

    .about-powered {
    display: block;
    width: 30%;
    margin: 25px 0 10px; 
    }
    
    
@media (max-width: 575px) {
    body { 
    border: solid 5px #f5ed2d;
    } 
    
    .page, .collumn-content, .preview-content, .widget-content {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
    }
    
    .page {
    height: 210px;
    }
    
    .logo {
    display: inline-block;
    margin: 25px 0 0px 15px;
    }
    
    .main-navigation {
    display: none;
    }
    
    .main-navigation {
    display: block;		
    width: 100%;
	}
	
    .main-navigation li {
    display: block;
    }
    
	.main-navigation li a{
    padding: 5px 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    background: #484444;
    border-bottom: solid 1px #2f2f2f;
	}
    
    .search {
    display: inline-block;
    color: white;
    overflow: hidden;
    }
    
    .collumn-content li:nth-child(4n) {
    margin-right: 15px;
}
    
    .widget-content li {
    display: inline-block;
    width: 85%;
    list-style: none; 
    margin-top: 50px;
    }
    
    .preview-widget {
    width: 155px;
    display: inline-block;
    margin-top: 15px;
    }

    .preview-widget li {
    width: 46px;
    height: 46px;
    margin: 2px 1px;
    }

    .preview-widget img {
    width: 42px;
    height: 42px;
    border: solid 2px #fff;
    }
   
    .logo-footer {
    display: block;
    margin: 25px 0 0 25px;
    transition: 500ms;
    }

    .logo-footer:hover {
    opacity: 0.5;
    transition: 500ms; 
    }
    
     .about-contact {
    width: 90%;
    color: #818181;
    vertical-align: top;
    margin: 25px 0 0 25px; 
    text-align: left;
    }

    .about-powered {
    float: left;
    width: 90%;
    margin: 25px 0 10px 25px; 
    text-align: left;
    }

@media (max-width: 400px) {
     body { 
    border: solid 5px #bf3e52;
    } 
    
    .logo {
    display: inline-block;
    width: 95%;
    text-align: center;
    transition: 500ms;
    margin-bottom: -20px;
    }

    .logo:hover {
    opacity: 0.5;
    transition: 500ms; 
    }

    .search {
     display: inline-block;
    width: 95%;
    text-align: center;
    margin-top: 30px;
    color: white;
    }
    
}



