@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);

* {
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Helvetica', 'Arimo', sans-serif;
    font-size: 12px;
    
    border: solid 5px #52f058;
}

h1 {
    font-size: 24px;
}

a {
    text-decoration: none;
}

.background-header {
    width: auto;
    background: url(../image/layout/background.png) repeat 0 0;
}

header, .portfolio, .collumn-content, .widget-content {
    width: 960px;
    margin: 0 auto;
}

.logo {
    display: inline-block;
    margin: 25px 0 0px 15px;
}

.logo:hover {
    opacity: 0.7;
}

.search {
    width: 140px;
    height: 25px;
    display: inline-block;
    margin: 30px 5px 0 0;
    border-radius: 15px;
    border-color: #2f2f2f;
    background: #2f2f2f url(../image/layout/search.png) no-repeat 6px 7px;
    color: white;
    padding-left: 18px;
    vertical-align: top;
}

.main-navigation {
    display: inline-block;
    width: 495px;
    margin: 30px 0 0 140px;
    vertical-align: top;
}

.main-navigation li {
    display: inline-block;
    padding: 6px;
    border-right: solid 1px #272f34;
    -webkit-box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.05);
    box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.05);
    clear: both;
}

.main-navigation a {
    color: #e8e8e8;
    padding: 11px 14px;
    border-radius: 5px;
}

.main-navigation li a:hover, .main-navigation a.active {
    background-color: #2f2f2f;
    -webkit-box-shadow:inset 0px -0.1px 0px 0px rgba(255, 255, 255, 0.2);
    box-shadow:inset 0px -0.1px 0px 0px rgba(255, 255, 255, 0.2);
}

.background-portfolio {
    background: url(../image/layout/background.png) repeat;
    height: 396px;
    padding-bottom: 30px;
}

.about-slider {
    width: 365px;
    height: 250px;
    color: white;
    margin: 70px 0 0 10px;
    display: inline-block;
    vertical-align: top;
}

.about-slider h3 {
    margin-top: 15px;
    font-weight: 100;
}

.button {
    margin-top: 15px;
    width: 142px;
    height: 35px;
    padding: 0 5px;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    border-radius: 5px;
    background-color: #959595;
    color: white;
    border: none;
}

/*Slider*/

.slider {
     display: inline-block;
     width: 534px;
     height: 340px;
     overflow: hidden;
     margin: 40px 0 0 35px;
}

.slider ul, .slider li {
     padding: 0;
     margin: 0;
     list-style-type: none;
}

.slider ul {
     width: 9999px; 
}

.slider ul li {
     list-style-type: none;
     float: left;
     width: 535px;
     height: 330px;
}

.slider .nav {
    position: relative;
    bottom: 12px; 
}

.slider .nav span {
     opacity: 0.9;
     background: #888888;
     margin: 15px 0 0 5px;
     width: 23px;
     height: 8px;
     cursor: pointer;
     overflow: hidden;
     display: inline-block;
     float: right;
}

.slider .nav span.on {
     background: #bebebe;
}

.slider img {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 330px;
    width: 540px;
}

.background-main-content {
    width: auto;
    background: white url(../image/layout/background65.png) repeat-x 0 0;
    padding-bottom: 50px;
    text-align: center;
}

.collumn-content li {
    display: inline-block;
    list-style: none; 
}

.collumn-limit {
    display: inline-block;
    width: 226px;
    height: 324px;
    background:  url(../image/layout/collumn.png) no-repeat;
    line-height: 1.5em;
    text-align: left;
}

.collumn-content h2 {
    font-size: 15px;
    padding: 20px 23px 0;
}

.collumn-content h3 {
    font-size: 12px;
    font-weight: 500;
    color: #8e8e8e;
    padding: 15px 23px 0;
}

.collumn-content p {
    font-size: 12px;
    font-weight: 500;
    padding: 15px 23px 20px;
    background: url(../image/layout/dash.png) no-repeat 24px bottom;
}

.collumn-content a {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    margin: 10px 23px 0;
    color: black;
}

.preview-content {
    margin: 40px 25px 0 45px;
    text-align: left; 
}

.preview-content h2 {
    font-size: 15px;
    padding: 15px 0px 20px;
    background: url(../image/layout/dash910.png) no-repeat 0 bottom;
    text-align: left;
}
.preview-about {
    display: inline-block;
    width: 176px;
    height: 220px;
    font-size: 12px;
    font-weight: 500;
    padding: 15px 0px;
    line-height: 1.5em;
    text-align: left;
    vertical-align: top;
}

.preview-about h3 {
    padding: 0;
    color: #8e8e8e;
}

.preview-about p {
    padding: 15px 0 0;
    background: none;
}

.preview-image {
    width: 700px;
    height: 420px;
    display: inline-block;
    margin: 15px 0 0 5px;
}

.preview-image a {
    width: 220px;
    height: 200px;
    margin: 0 0 15px 10px;
}

.preview-image li a:before {
    content: '';
	background: url(../image/layout/hover-search.png);
    width: 220px;
	height: 200px;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	transition: opacity 0.3s;
	
}
.preview-image li a:hover:before {
	opacity: 0.8;
}
.background-widget {
    width: auto;
    background: url(../image/layout/background-line.png) repeat-x 0 0,
                url(../image/layout/background.png) repeat 0 0;
    text-align: center;
    padding-bottom: 30px;
}

.widget-content li {
    display: inline-block;
    width: 220px;
    list-style: none; 
    margin-top: 50px;
    vertical-align: top;
}

.collumn-widget {
    text-align: left;
    padding: 8px;
    color: #fff;
}

.collumn-widget h2 {
    font-size: 16px;
    background: url(../image/layout/widget-line.png) no-repeat 0 bottom;
    padding-bottom: 20px;
}

.collumn-widget p {
    font-size: 12px;
    padding-top: 15px;
}

.collumn-widget a {
    color: #999999;  
}
.preview-widget {
    display: inline-block;
    margin-top: 15px;
}

.preview-widget li {
    width: 46px;
    height: 46px;
    margin: 2px 1px;
}

.preview-widget img {
    width: 42px;
    height: 42px;
    border: solid 2px #fff;
}

footer {
    margin: 0 auto;
    width: 900px;
    height: 72px;
}
.background-footer {
    width: auto;
    background: url(../image/layout/background-footer.png) repeat-x 0 0,
                url(../image/layout/background.png) repeat 0 0;   
}

.about-contact, .about-powered {
    display: inline-block;
    color: #818181;
    vertical-align: top;
    margin-top: 25px; 
}

.about-contact {
    margin-left: 25px;
}

.about-powered {
    margin-left:  200px
}

.about-powered a {
    color: #b2b2b2
}

@media (max-width: 960px) {
    body {
    width: auto;
    border: solid 5px #f52d2d;
    } 
    
    header {
    width: 100%;
    }
    
    .logo {
    display: inline-block;
    margin: 25px 0 0px 15px;
    }
    
    .main-navigation {
    margin: 10px auto 0;
    display: block;
    }
    
    .search {
    float: right;
    width: 140px;
    height: 25px;
    margin: -70px 5px 0 0;
    border-radius: 15px;
    border-color: #2f2f2f;
    background: #2f2f2f url(../image/layout/search.png) no-repeat 6px 7px;
    color: white;
    }
}

@media (max-width: 520px) {
    body { 
    border: solid 5px #f5ed2d;
    } 
    
    .logo {
    display: inline-block;
    margin: 25px 0 0px 15px;
    }
    
    .main-navigation {
    display: block;
    margin: 10px 0 0 0;
    }
    
    .main-navigation li {
    display: inline-block;
    padding: 6px;
    border-right: solid 1px #272f34;
    -webkit-box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.05);
    box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.05);
    clear: both;
    }
    
    .search {
    width: 140px;
    height: 25px;
    position: absolute;
    top: 25px;
    left: 325px;
    margin: 10px 5px 0 0;
    border-radius: 15px;
    border-color: #2f2f2f;
    background: #2f2f2f url(../image/layout/search.png) no-repeat 6px 7px;
    color: white;
    }
}
